html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 1.3;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a { 
    text-decoration: none;
}
/* Code */

main {
    background: lightskyblue;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;

    color: white;
}

.glass {
    background: white;
    width: 60%;
    height: 80vh;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);

    display: flex;
}

.circle {
    background: linear-gradient(
        to right bottom,
        rgba(126, 182, 255, 0.8),
        rgba(135,206,235, 0.2)
    );

    width: 20rem;
    height: 20rem;

    border-radius: 50%;
    position: absolute;
}

#circle1 {
    top: 5%;
    left: 15%;
}
#circle2 {
    bottom: 5%;
    right: 10%;
}

#userphoto {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.icons {
    width: 50px;
    height: 50px;

    color: white;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: linear-gradient(
        to right bottom,
        rgba(0, 89, 255, 0.7),
        rgba(93, 217, 255, 0.3)
    );

    border-radius: 2rem;
}

.user {
    text-align: center;
    padding: 1rem;
}

.user h3 {
    margin-bottom: -10px;
    margin-top: 10px;
}

.links {
    display: flex;
    align-items: center;

    margin-top: -50px;
    margin-right: 10px;
}

.links p span {
    background: linear-gradient(0deg, red 6px, transparent 7px) 0 1.1em;
}

.links p {
    color: white;
    padding-top: 5px;

}